@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Rubik:wght@400;600&display=swap");



*{
    padding: 0;
    margin: 0;

}
/* body{ */
    /* overflow-x: hidden; */
/* } */

#header{
    height: 50px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;
    /* border: 1px solid blue; */
    
}
#right{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
    width: 200px;
    margin: 10px;
}
#logo{
    /* padding: ; */
    height: 27px
}

.add{
    display: flex;
    background-color: #6196FF;
    width: 47px;
    height: 20px;
    border-radius: 10%;
    color: white;
    align-items: center;
    font-size: 80%;
    justify-content: space-evenly;
}

.add img{
    height: 13px;
}
.price{
    display: flex;
    justify-content: space-between;

}
.price p{
    color: white;
}
#cart{
    height: 25px
}
#bg-img{
    background-image: url(./assets/kw-background.png) ;
    /* width: 100vw; */
    height: 63vh;
    background-size: 100vw 63vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    /* border: 1px solid blue; */
    /* padding: 20px; */
    background-repeat: no-repeat;

}

#bg-img div{
    /* border: 1px solid blue; */
    width: 30vw;
    margin-left: 60px;
    
    height: 40vh;
    
}
h1{
    font-size: 70px;

}
h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
  }
  
  p {
    color: grey;
    font-weight: lighter;
  }


#group1,#group2,#group3{
    display: flex;
    flex-direction: column;
}
#group1 h2,#group2 h2,#group3 h2{
    margin-left: 90px
}
#books{
    padding-left: 50px;
    padding-right: 100px;

}
#books,#games,#arts{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.book-img{
    width: 150px;
}.game-img,.art-img{
    
    width:200px;
}

#foot{
    display: flex;
    color: white;
    background-color:black ;
    height: 230px;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px; */

}

#foot-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.foots{
    margin: 30px;
}

@media only screen and (max-width:600px){
#header { 
    height : 200px;
    font-size: 20px;
    text-align: start;
      
 }


    
}