@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Rubik:wght@400;600&display=swap");


*{
    padding: 0;
    margin: 0;
}

#header{
    height: 50px;
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: 70px; */
    background-color: white;
}

#right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vh;
    margin: 10px;
}

#logo{
    height: 27px;
    margin-left: 23px;
}

.add{
    display: flex;
    background-color: #6196FF;
    width: 47px;
    height: 20px;
    border-radius: 10%;
    color: white;
    align-items: center;
    font-size: 80%;
    justify-content: space-evenly;
}

.add img{
    height: 13px;
}

.price{
    display: flex;
    justify-content: space-between;
}

.price p{
    color: white;
}

#cart{
    height: 25px;
}

#bg-img{
    background-image: url(./assets/kw-background.png);
    height: 32vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    /* margin-top: -50px; */
    padding-left: 20px;
}

h1{
    font-size: 70px;
}

h2 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
}

p {
    color: grey;
    font-weight: lighter;
}

#group1, #group2, #group3{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

#group1 h2, #group2 h2, #group3 h2{
    margin-left: 12.5vh;
}

#books, #games, #arts{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}

.book-img{
    width: 9vw;
}

.game-img, .art-img{
    width: 200px;
}

#foot{
    display: flex;
    color: white;
    background-color: black;
    height: 230px;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 20px;
}

#foot-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.foots{
    margin: 30px;
}

#books{
    width: 90vw;
    margin-left: 7vh;
}
@media only screen and (max-width:600px){
    body{
        text-align: center;
    }
    #header{
        width: 100%;
    }
    
    #bg-img{
        background-size: 100% 100%;
        /* font-size: 1px; */
        /* width: 100vw; */
        /* height: 0vh; */
        text-align: start;
        background-repeat: no-repeat;
        padding: 0;
    }

    #books, #games, #arts{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        
       }
    
    #bg-text h1,#bg-text h2{
        font-size: 20px;
        /* position: fixed;
        top:-80vh; */
    }
    #books{
        margin: 2vh;
    }
    .book{
        width: 25vh;
        margin-bottom: 20px;
    }
    .book-img{
        width: 25vh;
    }
    #group1 h2, #group2 h2, #group3 h2{
        margin-left: 0vh;
    }
   
}